.containerFooter{
    width: 99vw;
    min-height:40vh;
    
    box-shadow: 3px 4px 20px gray;
    position:relative;
    top:70vh;
    background-image: linear-gradient(145deg,rgb(188, 171, 171),rgb(141, 145, 147),rgb(173, 139, 173));
}
.rowFooter{
    padding-top: 4vh;;
    width: 98vw;
    height:30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div1Col{
    width:20vw;
    height: 40vh;
    /* border:2px solid blue; */
    font-size: 16px;
}
.div2Col{
    width:20vw;
    height:40vh;
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    /* border:2px solid red; */
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: center;
}
.div3Col{
    width:20vw;
    height: 40vh;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    /* border:2px solid green; */
    display: flex;
    flex-direction: column;
    gap:10px;
    text-align: left;
}