@media screen and (min-width:300px) and (max-width:667px) {

    .mainParent{
        display:flex;
        width: 90vw;
        height: auto;
        justify-content: space-evenly;
        flex-direction: column;
        gap:25px;
        position: relative;
        top:25vh;
        left:8vw;
        /* border:2px solid black; */
       
    }
    
    .imgLeftdiv{
        width:84vw;
        height:40vh;
        position: relative;
        left:1vh;
        
    }
    .imgRightdiv1{

        width:84vw;
        height:40vh;
        position: relative;
        left:1vh;
    }
    .imgRightdiv2{
        width:84vw;
        height:40vh;
        position: relative;
        left:1vh;
        top:2vh;
    }


    .AdvertismentHome img{
        display: none;
    }
    
    .textLatest{
        position:relative;
        top: 30vh;
        left:6vw;
        border-bottom:3px solid rgb(177, 167, 167);
        font-size: 28px;
        font-weight: bold;
    }
    .mediaParentLatest{
        width:88vw;
        min-height: auto;
        /* border:8px solid red; */
        position: relative;
        top:30vh;
        left: 6vw;
        flex-direction: column;
 
    }
    .HomeparentLatest{
        width:88vw;
        min-height: auto;
        /* border:2px solid red; */
        position: relative;
        top:40vh;
        left: 6vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }
    .HomeColoumnwise{
        width:88vw;
        min-height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    } 
    .Homeimglatestheading{
        position:relative;
       top:1vh; 
       width:80vw;
       height:20vh;
       /* min-height:6vh; */
       /* border:2px solid red; */
       padding-top:2vh ;
   }
   .Homeimglatestdescription{
    position: relative;
   top:0vh; 
   width:84vw;
   min-height:auto;
   /* border:2px solid black; */
   padding: 2vh 0vw;
   font-size:16px;
}

}

