body{
    margin:0;
    padding:0;
    width:100%;
    height:100vh;
    box-sizing: border-box;
}

.mainParent{

    display:flex;
    width: 100%;
    height: 70vh;
    justify-content: space-evenly;
    gap:10px;
    position: relative;
    top:24vh;
   
}
/* .leftDiv{
    position: absolute;
    left:6vw;
} */

.imgLeftdiv{
    width:54vw;
    height:70vh;
    border-radius: 2% ;
}

/*
.rightDiv1{
    position: absolute;
    right:6vw; 
}
*/
.imgRightdiv1{

    width:27vw;
    height:34vh;  
    border-radius: 2% ;
    
}
/*
.rightDiv2{
    position: absolute;
    right:6vw;
    top:36vh;
}
*/
.imgRightdiv2{
    width:27vw;
    height:34vh;
    border-radius: 2% ;
    margin-top: 2vh;
}

/* Latest part in home page*/

.parentLatest{
    position: relative;
    top:50vh;
    border:2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 60vh;
}

.textLatest{
    position:relative;
    top: 40vh;
    left:6vw;
    border-bottom:3px solid rgb(177, 167, 167);
    font-size: 28px;
}

.imgLatest {
    width:25vw;
    height:50vh;
    /* border:2px solid black; */
    border-radius: 1% ;
    box-sizing: border-box; 
    
}

.imgDivlatest{
    position: relative;
    width:25vw;
    height:35vh;
    border:2px solid black;
    border-radius: 1% ;
    
}
.imglatestheading{
    position:relative;
    top:3vh;
}
.imglatestdescription{
    position: relative;
    top:4vh;
}



/* Top Stories of Home page*/

.textTopstories{
    font-size: 24px;
    /* text-decoration: underline; */
    border-bottom: 4px solid lightblue;
    position: relative;
    top:60vh;
    left:6vw;
}

.topStories{
    width:40vw;
    min-height:40vh;
    border:2px solid black;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    top:70vh;
    left:6vw;
}

.divtopStories{
    /* border:2px solid red; */
    display: flex;
    flex-direction: row;
    gap:20px;
    border-bottom: 4px solid lightgrey ;
}

.imgHomeTopStories{
    width:16vw;
    height:25vh;
    border:2px solid green;
}

.imglatestheading{
    width:20vw;
    height:5vh;
    border:2px solid black;
}
.divcoloumn{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.topStoriesdetails{
    width:16vw;
    min-height:20vh;
    border:2px solid black;
}
.topStoriesTitle{
    width:18vw;
    min-height:4vh;
    border:2px solid black;
}

/* Top posts Of Home Page */
.textTopPost{
    font-size: 30px;
    /* text-decoration: underline; */
    border-bottom: 4px solid lightblue;
    position:absolute;
    top:218vh;
    right:33vw;
}
.topPost{
    width:35vw;
    min-height: 40vh;
    border:2px solid red;
    display: flex;
    flex-direction: column;
    gap:30px;
    position:absolute;
    top:228vh;
    right:6vw;
    
}
.imgHomeTopPost{
    width:12vw;
    height:16vh;
    border:2px solid green;
}
.divtopPost{
    display: flex;
    flex-direction: row;
    gap: 30px;
    border-bottom: 4px solid lightgrey ;
    min-height: 20vh;

}

.topPostTitle{
    font-size: 14px;
    font-weight: bold;
    border: 2px solid black;
    width:14vw;
    min-height: fit-content;
}
.TopPostIndexing{
    font-size: 50px;
    width:4vw;
    height:14vh;
    color: rgb(205, 205, 219);
    border:2px solid rgb(205, 205, 219); 
    float:right;
}
.Advertisement{
    width:22vw;
    height:140vh;
    border:2px solid black; 
    position:absolute;
    top:360vh;
    right:18vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;;
}




